{% extends './layout.html'%}
{% block title %} 
{{ data.titulo }} 
{% endblock %}

{% block body %}
<h1>{{data.bienvenida}}</h1>
<h2>{{data.etiqueta_2}}</h2>
<h5>listado de materias es  <b>{{data.cant_cursos}}</b></h5>
<a href="/consulta">consulta</a>
<p>{{ data.etiqueta_5 }}</p>
<ul>
    {% for c in data.cursos  %}
    <li> {{c}} </li>
    {% endfor %}

</ul>

{% if data.cant_cursos % 2 == 0  %}
<h2> la cantidad de cursos que tengo es par</h2>
{% else %}
<h2> la cantidad de cursos que tengo es impar</h2>
{% endif %}

{% endblock %}

